@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

:root {
	scroll-behavior: smooth;
}

html,
body {
	height: 100vh;
	width: 100vw;
	background-color: #4e5668;
	color: #dadfee;
}

button,
a {
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}

.page {
	height: 100vh;
	width: 100vw;
}

/* page 1 */
.page1 {
	background: #adf;
}

/* page 2 */
.page2 {
	background: #bdc;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.buttons {
	display: flex;
}
.buttons button {
	position: relative;
	top: 45vh;
	margin: 1rem;
	padding: 1rem 3rem;
	background: #ddd;
}

.card-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	box-sizing: border-box;
}
.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 15rem;
	width: 10rem;
	background: #00000080;
	margin: 1rem;
}
.card .card-content,
.card a {
	display: none;
}
.card-list .card-focus {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 60vh;
	width: 40vh;
	background: #00000080;
}
.card-focus .card-content,
.card-focus a {
	display: block;
}
.card-focus {
	position: absolute;
	top: 60%;
	left: 50%;
	margin: -30vh 0 0 -20vh;
	animation-duration: 3s;
}
.card-prev {
	transform: rotate(-35deg);
	position: absolute;
	top: 85%;
	left: calc(50% - 40vh);
	margin: -15vh 0 0 -10vh;
	animation-duration: 3s;
}
.card-next {
	transform: rotate(35deg);
	position: absolute;
	top: 85%;
	left: calc(50% + 40vh);
	margin: -15vh 0 0 -10vh;
	animation-duration: 3s;
}
.card-none {
	display: none;
	animation-duration: 3s;
}

/* page 3 */
.page3 {
	background: #cad;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.card-list-2 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.card-2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 30rem;
	width: 20rem;
	padding: 1rem;
	margin: 1rem;
	background: #00000080;
}

.card-2 .card-content-2,
.card-2 a {
	display: none;
}

.card-2:hover > .card-content-2,
.card-2:hover > a {
	display: flex;
}

/* page 4 */
.page4 {
	background: #dcb;
	padding: 0 20px;
	margin: 0 auto;
	display: grid;
	place-items: center;
}

.link {
	font-family: "Inter";
	font-size: 2rem;
	font-weight: bold;
	color: #4e5668;
	text-decoration: none;
	position: relative;
}
.link span,
.link i {
	position: relative;
}
.link i {
	margin-left: 0.5em;
}
.link .pink {
	width: 2em;
	height: 2em;
	border-radius: 2em;
	background-color: #dadfee;
	position: absolute;
	top: 50%;
	transform: translatey(-50%);
	left: -0.65em;
}
