@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
	font-family: "Roboto";
}

button,
a {
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	z-index: 20;
}

.page {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.buttons {
	display: flex;
}
.buttons button {
	position: relative;
	top: 45vh;
	margin: 1rem;
	padding: 1rem 3rem;
	background: #ddd;
}

.card-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	box-sizing: border-box;
}
.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 15rem;
	width: 10rem;
	background: #00000080;
	margin: 1rem;
}
.card .card-content,
.card a {
	display: none;
}
.card-list .card-focus {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 60vh;
	width: 40vh;
	background: #00000080;
}
.card-focus .card-content,
.card-focus a {
	display: block;
}
.card-focus {
	position: absolute;
	top: 60%;
	left: 50%;
	margin: -30vh 0 0 -20vh;
	animation-duration: 3s;
}
.card-prev {
	transform: rotate(-35deg);
	position: absolute;
	top: 85%;
	left: calc(50% - 40vh);
	margin: -15vh 0 0 -10vh;
	animation-duration: 3s;
}
.card-next {
	transform: rotate(35deg);
	position: absolute;
	top: 85%;
	left: calc(50% + 40vh);
	margin: -15vh 0 0 -10vh;
	animation-duration: 3s;
}
.card-none {
	display: none;
	animation-duration: 3s;
}
